@import url("./../files/fonts/manrope/stylesheet.css");

html {
	scroll-behavior: smooth;
	background-color: rgb(39, 39, 39);
	overflow-x: hidden;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-base);
	text-wrap: balance;
}

body {
	overflow-x: clip;  // задать скролл
}

img {
	display: block;
}


code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}

.text + .text {
	margin-top: 15px;
}
