@mixin mediaBg() {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    @content;
    }
}

@mixin laptop() {
	@media (max-width: 1530px) {
		@content;
	}
}

@mixin tablet () {
    @media (max-width: 1220px) {
		@content;
	}
}

@mixin tabletS () {
    @media (max-width: 1000px) {
		@content;
	}
}

@mixin mobile () {
    @media (max-width: 820px) {
		@content;
	}
}

@mixin mobileS () {
    @media (max-width: 402px) {
		@content;
	}
}

@mixin mobileXs () {
    @media (max-width: 320px) {
		@content;
	}
}