.faq {
    padding: 80px 0;
}

.faq__title-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;

    @include mobile {
        margin-bottom: 32px;
    }
}

.faq__title {
    max-width: 608px;

    @include mobile {
        max-width: 502px;
    }
}

.faq__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

.faq__picture {
    grid-column: span 5;
}

.faq__img {
    border-radius: 16px;
}

.faq__content {
    align-self: center;
    grid-column: 7 / span 6;

    @include tablet {
        grid-column: 6 / span 7;
    }
}

#accordion-faq .ac {
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid #eee;
    background-color: transparent;
}

#accordion-faq .ac .ac-trigger {
    font-family: inherit;
    color: inherit;
    padding: 12px 50px 12px 12px;
    font-weight: 500;
    font-size: 20px;

    @include tablet {
        font-size: 18px;
    }
    
    // Mobile Ситуативная
    @media (max-width: 899px) {
        padding: 10px 50px 10px 10px;
        font-size: 16px;
    }
}

#accordion-faq .ac .ac-trigger::after {
    width: 20px;
    font-size: 30px;
    font-weight: 100;
}

#accordion-faq .ac .ac-panel .ac-text {
    font-size: 16px;
    font-family: inherit;
    color: inherit;
    padding: 12px;
    text-wrap: pretty;
}