.hero {
    padding: 80px 0;

    @include mobile {
        padding: 20px 0;
    }
}

.hero__grid-row {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 40px 24px; 
    align-items: center;

    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}

.hero__desc {
    display: grid;
    gap: 24px;
}   

.hero__slider {
    max-width: 100%;
    grid-column: 1 / 3; // Важно работает на desctop max-width 1270px

    // Стрелки для слайдера 
    .swiper-button-prev::after, 
    .swiper-button-next::after {
        color: var(--white);

        @include mobile {
            font-size: 30px;
        }

        @include mobileS {
            display: none;
        }
    }
}
