.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	cursor: pointer;
	width: 62px;
	height: 62px;
}

.icon--heart-line {
	fill: rgb(241, 68, 131);
}

.icon--id-card-line {
	fill: rgb(51, 51, 51);
}
.icon--search-line {
	fill: rgb(28, 176, 80);
}

.icon--user-star {
	fill: rgb(26, 134, 235);
}

.icon--user {
	stroke: rgb(26, 134, 235);
	transition: all 0.2s ease-in;

	&:hover {
		stroke: rgb(17, 193, 90);
	}
}

.icon--social {
	width: 20px;
	height: 20px;
	transition: 300ms ease-in-out;
	flex-shrink: 0;

	// Ховер только если устройство поддерживает hover И имеет точный указатель
	@media (hover: hover) and (pointer: fine) {
		&:hover {
			transform: scale(1.3) rotate(360deg);
		}
	}

	@include mobile {
		transform: none;
	}
}

