.mission {
    padding: 120px 0;

    @include tablet {
        padding: 40px 0;
    }
}

.mission__grid-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;

    @include mobile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}

.mission__content {
    grid-column: 1 / 7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    @include mobile {
        align-items: center;
    }
}

.mission__picture {
    grid-column: 8 / span 5;

    @include tablet {
        grid-column: 7 / span 6;
    }
}


.mission__grid-row--reverse {
    .mission__content {
        grid-column: 7 / span 6;
    }

    .mission__picture {
        grid-column: span 5;
        order: -1;

        @include tablet {
            grid-column: span 6;
        }

        @include mobile {
            order: 2;
        }
    }
}

.mission__img {
    border-radius: 16px;
}