.title-1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.1;

	@include mobile {
		font-size: 32px;
		font-weight: 700;
		line-height: 1.1;
	}
}

.title-2 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2;

	@include tablet {
		font-size: 38px;
	}

	@include tabletS {
		font-size: 32px;
	}

	@include mobile {
		font-size: 26px;
	}
}

.title-3 {
	font-size: 40px;
	font-weight: 700;
}

.title-4 {
	font-size: 24px;
	font-weight: 500;
}

.subtitle-1 {
	color: var(--grey-dark);
    font-size: 24px;
    font-weight: 500;

	@include mobile {
		font-size: 18px;
		line-height: 25px; //138%
	}
}

.subtitle-2 {
	color: var(--grey-dark);
	font-size: 20px;
	font-weight: 500;
	
	@include tablet {
		font-size: 19px;
	}

	@include tabletS {
		font-size: 18px;
	}
}

.text-1 {
	font-size: 16px;
}

.text-2 {
	color: var(--grey-dark);
	font-size: 14px;
}