<div class="swiper-slide ">
    <article class="card-offer cursor-pointer">
        <!--Picture-->
        <img class="card-offer__img" src="./img/offer/@@img" alt="picture">
    
        <!--Content-->
        <div class="card-offer__content">
            <div class="card-offer__content-desc">
                <span class="card-offer__baidge text-1">@@baidge</span>
                <h3 class="card-offer__title ">@@title</h3>
                <p class="card-offer__desc text-1">@@desc</p>
            </div>
    
            <div class="card-offer__content-price">
                <i class="card-offer__price-text text-2">Starts from</i>
                <span class="card-offer__price">@@price</span>
            </div>
        </div>
    </article>
</div>