<div class="swiper swiper-hero" id="swiper-hero">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <picture>
        <source media="(max-width: 402px)" srcset="./img/hero/mobile/hero-mobile.jpg">
        <img class="hero__img" src="./img/hero/hero1.jpg" alt="picture">
      </picture>
    </div>
    <div class="swiper-slide">
      <picture>
        <source media="(max-width: 402px)" srcset="./img/hero/mobile/pustunya.jpg">
        <img class="hero__img" src="./img/hero/hero2.jpg" alt="picture">
      </picture>
    </div>
    <div class="swiper-slide">
      <picture>
        <source media="(max-width: 402px)" srcset="./img/hero/mobile/sky.jpg">
        <img class="hero__img" src="./img/hero/hero3.jpg" alt="picture">
      </picture>
    </div>

  </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

