<div class="swiper-slide ">
    <article class="testimonials-card">
        <!-- Иконка цитаты -->
        <img src="./img/icons/quote.svg" alt="quote" class="testimonials-card__icon">

        <!-- Контейнер для текста отзыва -->
        <div class="testimonials-card__content">
            <p class="testimonials-card__text text">@@text</p>
        </div>

        <!-- Контейнер для информации об авторе -->
        <div class="testimonials-card__profile">
            <!-- Фото автора -->
            <img class="testimonials-card__avatar" src="./img/testimonials/@@img" alt="author">

            <!-- Блок с именем и местоположением -->
            <div class="testimonials-card__author-info">
                <h4 class="testimonials-card__author-name">@@author</h4>
                <div class="testimonials-card__author-location">@@location</div>
            </div>
        </div>
    </article>
</div>